body {
  background-image: url("/image.png");
  background-position: center;
  background-size: 75%;
}
.container {
  display: flex;
  flex-direction: row;
}
.left {
  display: flex;
  flex-direction: column;
  margin-left: 5em;
}
.right {
  width: 100%;
  max-width: 400px;
  padding: 2em;
  background-color: #c9c9c9;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  margin: 3em auto;
  text-align: center;
}
.same {
  width: 100%;
  max-width: 200px;
}
* {
  box-sizing: border-box;
}
.headings h1 {
  font-family: "Times New Roman", Times, serif;
  color: rgb(255, 255, 0);
}
.headings {
  margin: 2em;
  color: white;
}
.apply {
  border: 1px solid;
  background-color: yellow;
  border-radius: 10px;
  width: 50%;
  max-width: fit-content;
  padding: 1em;
  margin-left: 2em;
  border: 1px white solid;
}
.apply a {
  color: black;
  text-decoration: none;
}
.nep {
  margin: 0.5em;
}
.nep input {
  padding: 1em;
  border-radius: 0.2em;
  border: #fff;
  width: 100%;
}
.phone-number {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0.5em;
}
.phone-number select {
  width: 18%;
  border: white;
  padding: 0.25em;
  border-radius: 0.2em;
}
.phone-number input {
  width: 80%;
  padding: 1em;
  border-radius: 0.2em;
  border: #fff;
  /* width: 100%; */
}
.sc {
  margin: 0.25em;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.sc input {
  width: 50%;
  padding: 1em;
  border-radius: 0.2em;
  border: #fff;
  margin: 0.25em;
}
.captcha {
  display: flex;
  margin: 0.25em;
  justify-content: space-around;
}
.captcha input {
  width: 75%;
  padding: 1em;
  border-radius: 0.2em;
  border: #fff;
  margin: 0.25em;
}
.captcha p {
  border: 1px white solid;
  background-color: white;
  color: black;
}
.check label {
  font-size: small;
  margin: 1em;
  width: 75%;
  text-align: justify;
}
button {
  padding: 1em;
  margin: 0.5em;
  width: 100%;
  border-radius: 0.2em;
  border: #fff;
}
.verification {
  font-size: small;
  text-align: center;
}
